# Dependencies
/node_modules/

# Build
/build
/cache
/artifacts
**/types

# System
.DS_Store

# Runtime
*.log

# IDE
.idea
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# Privacy
.env
